<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- partial templates will replace the part of "body" here -->
    <section class="nav">
      <li><a class="home" href="/">回到首頁</a></li>
      <ul class="other">
        <li><a class="other_item" href="/about">About</a></li>
        <li><a class="other_item" href="/portfolio">Portfolio</a></li>
        <li><a class="other_item" href="/contact">Contact</a></li>
      </ul>
    </section>
    {{{body}}}
  </body>
</html>